<section id="cta-2" class="cta pb-0">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12">
				<div class="cta-2 bg-theme">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-7">
							<!--
							<div class="cta-icon">
								<i class="lnr lnr-apartment"></i>
							</div>
							<div class="cta-devider">
							</div>-->
							<div class="cta-desc">
								<p>{{ cta.subtitle }}</p>
								<h5>{{ cta.mainTitle }}</h5>
							</div>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-5 cta-action text-right pull-right pull-none-xs">
							<a class="btn btn-secondary" href="{{ cta.pageRelation.first().url }}">{{ cta.pageRelation.first().title }}</a>
						</div>
					</div>
				</div>
				<!-- .cta-1 end -->
			</div>
			<!-- .col-md-12 end -->
		</div>
		<!-- .row end -->
	</div>
	<!-- .container end -->
</section>