<section id="cta-3" class="cta cta-3 bg-overlay bg-overlay-theme text-center">
	<div class="bg-section" >
		<img src="assets/images/call/2.jpg" alt="Background"/>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2">
				<h2>{{ mainTitle }}</h2>
				<p>{{ text }}</p>
				{% if signature != NULL %}
					<div class="signiture">
						<img src="{{ signature}}" alt="{{ altTag }}"/>
					</div>
				{% endif %}
			</div>
			<!-- .col-md-8 end -->
		</div>
		<!-- .row end -->
	</div>
	<!-- .container end -->
</section>