<section id="testimonials" class="testimonial testimonial-1 bg-gray">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12">
				<div class="heading heading-3 text-center">
					<div>
						<p class="mb-0">{{ subtitle }}</p>
						<h2>{{ mainTitle }}</h2>
					</div>
				</div>
				<!-- .heading end -->
			</div>
			<div class="col-xs-12 col-sm-12 col-md-12">
				<div id="testimonial-oc" class="testimonial-carousel">
					{% cache %}
						{% for testimonial in testimonials %}
							<!-- testimonial item -->
							<div class="testimonial-item">
								<div class="testimonial-content">
									{% if testimonial.image.first() != NULL %}
										<div class="testimonial-img">
											<i class="fa fa-quote-left"></i>
											<img src="{{ testimonial.image.first().getUrl('testimonial') }}" alt="{{ testimonial.image.first().title }}"/>
										</div>
									{% endif %}
									<p>{{ testimonial.text|striptags('<strong><em><br>')|raw }}</p>
								</div>
								<div class="testimonial-divider">
								</div>
								<div class="testimonial-meta">
									<strong>{{ testimonial.mainTitle }}</strong>, {{ testimonial.subtitle }}
								</div>
							</div>
							<!-- .testimonial-item end -->
						{% endfor %}
					{% endcache %}

				</div>
			</div>
			<!-- .col-md-12 end -->
			
		</div>
		<!-- .row end -->
		
	</div>
	<!-- .container end -->
	
</section>